<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cc.dawn.business.novel.dao.NovelMapper">

    <!-- 列表查询 -->
    <select id="existUrl" resultType="string">
        SELECT '1' FROM cc_novel WHERE sourceurl = #{sourceurl} ;
    </select>

    <select id="selectSourceurl" resultType="cn.cc.dawn.business.novel.dto.NovelDto">
        SELECT * FROM cc_novel WHERE sourceurl = #{sourceurl} ;
    </select>

    <select id="selectPage" resultType="cn.cc.dawn.business.novel.dto.NovelDto">
        SELECT * FROM cc_novel ORDER BY `sourceurl` LIMIT #{pn},#{size};
    </select>

    <insert id="insert">
        INSERT INTO `oneforall`.`cc_novel` (
            `name`,
            `sourceurl`,
            `sourcename`
        )
        VALUES
            (
                #{name},
                #{sourceurl},
                #{sourcename}
            );
    </insert>

</mapper>