<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cc.dawn.common.dao.WebSiteDataMapper">

    <!-- 列表查询 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"  keyColumn="id">
        INSERT INTO `oneforall`.`cc_websitedata` (
            `uuid`,
            `parentid`,
            `type`,
            `html`,
            `effect`,
            `status`
        )
        VALUES
            (
                #{uuid },
                #{parentid},
                #{type},
                #{html},
                #{effect},
                #{status}
            );
    </insert>

    <select id="existBYParentid" resultType="String">
        select '1' from cc_websitedata where parentid = #{parentid};
    </select>

    <select id="selectBYParentid" resultType="cn.cc.dawn.common.dto.WebSiteDataDto">
        select * from cc_websitedata where parentid = #{parentid};
    </select>

</mapper>