<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cc.dawn.open.auth.dao.CustomUserDaoMapper">

    <sql id="effect_sql">
        WHERE effect = 1 AND status = 1
    </sql>

    <!-- 插入 -->
    <!--<insert id="insertOrder">

    </insert>-->

    <select id="selectUser" resultType="cn.cc.dawn.open.auth.dto.CustomUser">
        SELECT id,roles,username,password FROM cc_custom_user
        <include refid="effect_sql" />
        and username = #{username} and password = #{password};
    </select>

</mapper>