<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cc.dawn.common.dao.WebSiteDoMapper">

    <!-- 列表查询 -->
    <insert id="insert">
        INSERT INTO `oneforall`.`cc_websitedata` (
            `uuid`,
            `url`,
            `params`,
            `html`,
            `effect`,
            `status`
        )
        VALUES
            (
                #{uuid },
                #{url},
                #{params},
                #{html},
                #{effect},
                #{status}
            );
    </insert>

    <select id="selectBYUrlParams" resultType="cn.cc.dawn.common.dto.WebSiteDo">
        select * from cc_websitedata where url = #{url} and params = #{params};
    </select>

</mapper>